@import 'tailwindcss';

@theme {
  --color-brand-500: #ff7e05;
  --color-brand-600: #e67204;

  --color-zinc-950: #1a1a1a;
  --color-zinc-900: #212121;
  --color-zinc-800: #2e2e2e;
  --color-zinc-700: #454545;
  --color-zinc-400: #bebebe;

  --color-primary: var(--color-brand-500);
  --color-background: var(--color-zinc-900);
  --color-header: var(--color-zinc-800);
  --color-border-button: var(--color-zinc-700);
  --color-text-body: var(--color-zinc-400);
}

:root {
  --background: var(--color-background);
  --foreground: var(--color-text-body);
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
